#contact{    
        .carousel-inner{
            .carousel-item{
                // border: 1px solid red;
                img{
                    width: 40rem;
                    height: 40rem;
                    transform: translateX(40%);
                    margin-bottom: 1.5rem;
                }
            }
        }
}
